@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,300,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import "https://fonts.googleapis.com/css?family=Raleway:400,900,200,700";
.settings {
  width: 100%;
  height: 49px;
  background-color: #313544;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0;
  text-align: center;
  z-index: 5000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media (max-width: 800px) {
  .settings {
    position: fixed;
    top: 49px;
  }
}
.settings ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.settings ul li {
  display: inline-block;
  color: #ffffff;
  box-sizing: border-box;
  padding: 17px 20px;
  text-transform: uppercase;
  font-size: 9pt;
  color: rgba(255, 255, 255, 0.65);
  transition: 0.12s;
}
.settings ul li:hover {
  color: #ffffff;
  transition: 0.12s;
  cursor: pointer;
  transition: 0.2s;
}
.settings ul li:hover ol {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.1s linear;
}
.settings ul li:nth-child(2) ol {
  visibility: hidden;
  opacity: 0;
}
.settings ul li ol {
  position: absolute;
  left: 0;
  padding: 0;
  background-color: #242732;
  margin: 0;
  margin-top: 17px;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.18);
}
.settings ul li ol li.theme {
  display: inline-block;
  padding: 30px 0px 30px 0px;
  margin: 20px 8px 20px 8px;
  text-align: center;
  transition: 0.12s;
  text-transform: none;
  color: rgba(49, 53, 68, 0.4);
  background-color: #ffffff;
  width: 11%;
  font-size: 12pt;
  line-height: 100%;
  vertical-align: middle;
  border: 3px solid #ffffff;
}
.settings ul li ol li.theme:hover {
  background-color: #ffffff;
  border-color: #4887f4;
  transition: 0.12s;
  color: #313544;
}
.settings ul li ol li.theme.active {
  border-color: #4887f4;
  color: #313544;
}
.settings ul li ol li.theme:nth-child(1) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
.settings ul li ol li.theme:nth-child(2) {
  font-family: 'Pacifico', sans-serif;
}
.settings ul li ol li.theme:nth-child(3) {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.settings ul li ol li.adjustment {
  width: 200px;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  vertical-align: top;
}
.settings ul li ol li.adjustment:hover {
  cursor: default;
}
.settings ul li ol li.adjustment input {
  display: block;
}
.settings ul li ol li.adjustment label {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 8pt;
  text-transform: none;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-transform: uppercase;
}
.settings ul li ol li.adjustment label u {
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  padding: 1px;
  margin: 0 0 0 5px;
  font-weight: bolder;
  color: #ffffff;
}
.settings ul li ol li.adjustment #line-height-range {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 6px 0 20px 0;
}
.settings ul li ol li.adjustment #line-height-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0px solid white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
}
.settings ul li ol li.adjustment #line-height-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #4887f4;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.settings ul li ol li.adjustment #show-icons-checkbox {
  margin: 0 0 0 0 !important;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label {
  line-height: 1.55em;
  margin: 2px 0 0 0;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label:hover {
  cursor: pointer;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label .divider {
  font-size: 7pt;
  padding: 0 2px 0 2px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  top: -2px;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label b {
  font-size: 12pt;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 0 0 10px 0;
  margin: 0 auto;
  display: inline-block;
  transition: 0.12s;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label b:hover {
  color: #ffffff;
  transition: 0.12s;
}
.settings ul li ol li.adjustment #show-icons-checkbox-label b.active {
  color: #ffffff;
  transition: 0.12s;
}
.settings-scrolled {
  top: 49px;
  position: fixed;
  left: 0;
  width: 100%;
}
#toolbar-spacer {
  width: 100%;
  height: 75px;
}
.modal-lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 28, 52, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.text-edit-modal {
  border-radius: 3px;
  width: 400px;
  box-sizing: border-box;
  padding: 14px 25px 19px 25px;
  background-color: #ffffff;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  z-index: 11000;
  font-family: 'Montserrat', sans-serif;
}
.text-edit-modal h6 {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  text-transform: uppercase;
  color: #313544;
  margin-bottom: 25px;
  text-align: center;
}
.text-edit-modal i {
  float: right;
  margin: -42px 0 5px 0;
  position: relative;
  left: 10px;
  color: rgba(49, 53, 68, 0.3);
  transition: 0.12s;
}
.text-edit-modal i:hover {
  cursor: pointer;
  color: rgba(49, 53, 68, 0.8);
  transition: 0.12s;
}
.text-edit-modal input {
  background-color: #f2f2f2;
  width: 100%;
}
.text-edit-modal .modal-save {
  background-color: #4887f4;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  width: 40%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0 0 30%;
  font-size: 8pt;
  box-sizing: border-box;
  padding: 12px 0;
  transition: 0.12s;
}
.text-edit-modal .modal-save:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.12s;
}
.editable-header {
  transition: 0.12s;
  background-color: rgba(72, 135, 244, 0.4);
  box-sizing: border-box;
  padding: 0 15px;
}
.editable-header:hover {
  cursor: pointer;
  transition: 0.12s;
  background-color: rgba(72, 135, 244, 0.5);
}
