.section-title {
  color: #4887f4;
  text-transform: uppercase;
  font-size: 14pt;
  text-align: center;
  padding: 20px 0 16px 0;
}
.home-wrapper {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 55px;
  margin: 35px 0;
}
.home-wrapper .home-name {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 44pt;
  font-weight: 400;
  color: rgba(58, 63, 82, 0.2);
}
.home-wrapper .home-name b {
  font-weight: bolder;
  font-weight: 800;
  color: #3a3f52;
}
.modal-lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 28, 52, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.text-edit-modal {
  border-radius: 3px;
  width: 400px;
  box-sizing: border-box;
  padding: 14px 25px 19px 25px;
  background-color: #ffffff;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -200px;
  z-index: 2000;
  font-family: 'Montserrat', sans-serif;
}
.text-edit-modal h6 {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  text-transform: uppercase;
  color: #3a3f52;
  margin-bottom: 25px;
  text-align: center;
}
.text-edit-modal i {
  float: right;
  margin: -42px 0 5px 0;
  position: relative;
  left: 10px;
  color: rgba(58, 63, 82, 0.3);
  transition: 0.12s;
}
.text-edit-modal i:hover {
  cursor: pointer;
  color: rgba(58, 63, 82, 0.8);
  transition: 0.12s;
}
.text-edit-modal input {
  background-color: #f2f2f2;
  width: 100%;
}
.text-edit-modal .modal-save {
  background-color: #4887f4;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  width: 40%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0 0 30%;
  font-size: 8pt;
  box-sizing: border-box;
  padding: 12px 0;
  transition: 0.12s;
}
.text-edit-modal .modal-save:hover {
  cursor: pointer;
  color: #ffffff;
  transition: 0.12s;
}
.editable-header {
  transition: 0.12s;
  background-color: rgba(72, 135, 244, 0.4);
  box-sizing: border-box;
  padding: 0 15px;
}
.editable-header:hover {
  cursor: pointer;
  transition: 0.12s;
  background-color: rgba(72, 135, 244, 0.5);
}
