// Layout.less

@import "variables.less";

body,
html{
    padding: 0;
    margin: 0 auto;
    font-family: @sans-font;
    background-color: @color-white;
}

*,
*:hover{
    outline: none;
}


nav{
    width: 100%;
    background-color: @color-white;
    box-sizing: border-box;
    padding: 10px 5%;
    text-align: center;
    .logo{
        background-color: @color-blue;
        display: inline-block;
        color: @color-white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 15pt;
        text-align: center;
        border-radius: 50%;
    }
}


#navigation-links{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: @color-blue;
    box-sizing: border-box;
    padding: 15px;
    li{
        display: inline-block;
        a{
            text-decoration: none;
            color: fade(@color-white, 65%);
            text-transform: uppercase;
            box-sizing: border-box;
            font-size: 9pt;
            padding: 5px 8px;
            margin: 0 5px;
            &:hover{
                text-decoration: none;
                color: @color-white;
                font-weight: bolder;
            }
        }
        &.active{
            a{
                color: @color-blue;
                font-weight: bolder;
                background-color: @color-white;
                border-radius: 3px;
            }
        }
    }
}




#content{
    width: 70%;
    margin-left: 15%;
    padding: 25px 0 55px 0;
}



.current-items{
    width: 100%;
    text-align: left;
    padding: 10px 0 0 0;
    max-width: 460px;
    margin: 0 auto;
    box-sizing: border-box;
    .item{
        color: @color-white;
        display: inline-block;
        font-weight: bolder;
        padding: 5px 10px 6px 10px;
        border-radius: 20px;
        background-color: @color-blue;
        font-size: 10pt;
        transition: @transition;
        margin: 5px;
        i{
            transition: @transition;
            color: fade(@color-white, 50%);
            margin: 0 3px 0 0;
            &:hover{
                cursor: pointer;
                transition: @transition;
                color: @color-white;
            }
        }
    }
}














/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.15s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active {
    opacity:1;
}
.fade.ng-leave {
    transition:0s linear all;
    opacity:1;
}
.fade.ng-leave.ng-leave-active {
    opacity:0;
}
