// Layout.less

@import "variables.less";

body,
html{
    padding: 0;
    margin: 0 auto;
    font-family: @sans-font;
    background-color: @color-white;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    max-width: 100%;
    overflow:visible;
    float: none;
    display: block;
}

*,
*:hover{
    outline: none;
}
*::selection {
  background: fade(@color-blue, 80%);
}
*::-moz-selection {
  background: fade(@color-blue, 80%);
}

a{
    color: @color-blue;
    transition: @transition;
    &:visited{
        color: @color-blue;
    }
    &:hover{
        color: @dark-text;
        transition: @transition;
    }
    &:active{
        @media (max-width: 550px) {
            outline:none;
            background-color: fade(@color-blue, 50%);
            color: @color-white;
        }
    }
}




nav{
    width: 100%;
    background-color: @color-white;
    box-sizing: border-box;
    padding: 10px 5%;
    text-align: center;
    @media (max-width: 800px) {
        position: fixed;
        z-index: 1000;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
    }
    .logo{
        background-color: @color-blue;
        display: inline-block;
        color: @color-white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 15pt;
        text-align: center;
        border-radius: 50%;
    }
    #menu-btn{
        float:right;
        font-size: 26pt;
        color: @dark-text;
        transition: @transition;
        display: none;
        position: absolute;
        right: 5%;
        top: 4px;
        box-sizing: border-box;
        width: 43px;
        height: 43px;
        line-height: 43px;
        text-align:center;
        &:hover{
            cursor: pointer;
            color: fade(@dark-text, 50%);
            transition: @transition;
        }
        @media (max-width: 800px) {
          display: block;
        }
    }
}

#menu-lightbox{
    position: fixed;
    width: 100%;
    height: 120%;
    left: 0;
    top:0;
    background-color: fade(@dark-text, 90%);
    z-index:500;
    display:none;
}

#navigation-links{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: @color-blue;
    box-sizing: border-box;
    padding: 15px;
    // Media Queries
    @media (max-width: 800px) {
        background-color: @color-blue;
        padding: 0;
        margin: 0 0 0 0;
        position:fixed;
        top: 50px;
        z-index: 10000;
        display: none;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
    }
    &.nav-scrolled{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 5001;
        box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
        @media (max-width: 800px) {
            position:fixed;
            top: 49px;
        }
    }
    li{
        display: inline-block;
        @media (max-width: 800px) {
            display: block;
            margin: 0 0;
            &:nth-child(even){
                background-color: fade(@color-black, 10%);
            }
        }
        a{
            text-decoration: none;
            color: fade(@color-white, 65%);
            text-transform: uppercase;
            box-sizing: border-box;
            font-size: 9pt;
            padding: 5px 10px;
            margin: 0 4px;
            &:hover{
                text-decoration: none;
                color: @color-white;
                font-weight: bolder;
            }
            @media (max-width: 950px) {
                font-size: 8pt;
                padding: 5px 4px;
                position: relative;
                top:-1px;
            }
            @media (max-width: 800px) {
                display: block;
                font-size: 12pt;
                letter-spacing: 0.5px;
                padding: 14px 5%;
                text-align:left;
                margin: 0 auto;
                color: fade(@color-white, 50%);
            }
        }
        &.active{
            a{
                color: @color-blue;
                font-weight: bolder;
                background-color: @color-white;
                border-radius: 3px;
                @media (max-width: 800px) {
                    background-color: transparent;
                    color: @color-white;
                }
            }
        }
    }
}
.nav-spacer{
    width: 100%;
    display: block;
    height: 50px;
    @media (max-width: 800px) {
        height: 0px;
    }
}



#content{
    // width: 70%;
    // margin-left: 15%;
    // padding: 25px 0 55px 0;
    height: 100%;
    height: calc(~'100% - 100px');
    width: 100%;
    display: block;
    position: absolute;
    float:none;
    .view{
        float:none;
        height: auto;
        width: 100%;
        overflow: auto;
        display: block;
        padding: 25px 0;
    }
}



// Ad placement
.advertisement{
    box-sizing: border-box;
    padding: 4px 0 19px 0;
    height: auto;
    width: 760px;
    margin: 0 auto 5px auto;
    text-align: center;
    line-height: 0.7em;
    color: fade(@color-red, 100%);
    background-color: fade(@color-lightgrey, 30%);
    border: 1px solid @color-lightgrey;
    @media (max-width: 880px) {
      width: 90%;
      margin: 25px 5% 25px 5%;
    }
    h1{
        font-size: 8pt;
        text-align: center;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 1px 0 5px 0;
        color: fade(@dark-text, 30%);
        text-transform: uppercase;
    }
}
.hasadblocker{
    display: none;
    position: fixed;
    background-color: @dark-text;
    color: @color-white;
    bottom:0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 4px 7px 4px;
    z-index: 500000;
    h2{
        word-wrap: nowrap;
        margin: 0 auto;
        font-size: 8pt;
        letter-spacing: 0.4px;
        font-weight: lighter;
        display: inline-block;
    }
}



/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.18s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active {
    opacity:1;
    transition:0.18s linear all;

}
.fade.ng-leave {
    transition:0s linear all;
    opacity:1;
    transition:0s linear all;

}
.fade.ng-leave.ng-leave-active {
    opacity:0;
    transition:0s linear all;
}
