// Pages.less

@import "variables.less";

.section-title{
    color: @color-blue;
    text-transform: uppercase;
    font-size: 14pt;
    text-align: center;
    padding: 20px 0 16px 0;
}


//
// Home Page
//
.home-wrapper{
    background-color: @color-white;
    box-sizing: border-box;
    padding: 55px;
    margin: 35px 0;
    .home-name{
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 44pt;
        font-weight: 400;
        color: fade(@dark-text, 20%);
        b{
            font-weight: bolder;
            font-weight: 800;
            color: @dark-text
        }
    }
}




//
// Generate Page
//

.modal-lightbox{
    width: 100%;
    height:100%;
    background-color: fade(@color-blue-black, 20%);
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
}
.text-edit-modal{
    border-radius: 3px;
    width: 400px;
    box-sizing: border-box;
    padding: 14px 25px 19px 25px;
    background-color: @color-white;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    z-index: 2000;
    font-family: @sans-font;
    h6{
        margin: 0;
        padding: 0;
        font-size: 10pt;
        text-transform: uppercase;
        color: @color-black;
        margin-bottom: 25px;
        text-align: center;
    }
    i{
        float: right;
        margin: -42px 0 5px 0;
        position: relative;
        left: 10px;
        color: fade(@color-black, 30%);
        transition: @transition;
        &:hover{
            cursor: pointer;
            color: fade(@color-black, 80%);
            transition: @transition;
        }
    }
    input{
        background-color: @color-lightgrey;
        width: 100%;
    }
    .modal-save{
        background-color: @color-blue;
        border: none;
        color: fade(@color-white, 85%);
        width: 40%;
        text-transform: uppercase;
        font-family: @sans-font;
        margin: 30px 0 0 30%;
        font-size: 8pt;
        box-sizing: border-box;
        padding: 12px 0;
        transition: @transition;
        &:hover{
            cursor: pointer;
            color: fade(@color-white, 100%);
            transition: @transition;
        }
    }
}

.editable-header{
    transition: @transition;
    background-color: fade(@color-blue, 40%);
    box-sizing: border-box;
    padding: 0 15px;
    &:hover{
        cursor: pointer;
        transition: @transition;
        background-color: fade(@color-blue, 50%);
    }
}
