// pages.less

@import "variables.less";


//
// Generate Page
//

.settings{
    width: 100%;
    height: 49px;
    background-color: @color-black;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: center;
    z-index: 5000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    @media (max-width: 800px) {
        position: fixed;
        top: 49px;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            display: inline-block;
            color: @color-white;
            box-sizing: border-box;
            padding: 17px 20px;
            text-transform: uppercase;
            font-size: 9pt;
            color: fade(@color-white, 65%);
            transition: @transition;
            &:hover{
                color: @color-white;
                transition: @transition;
                cursor: pointer;
                transition: 0.2s;
                ol{
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0s, opacity 0.1s linear;
                }
            }
            &:nth-child(2){
                ol{
                    visibility: hidden;
                    opacity: 0;
                }
            }
            ol{
                // visibility: hidden;
                // opacity: 0;
                position: absolute;
                left: 0;
                padding: 0;
                background-color: #242732;
                margin: 0;
                margin-top: 17px;
                width: 100%;
                text-align: center;
                box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
                li.theme{
                    display: inline-block;
                    padding: 30px 0px 30px 0px;
                    margin: 20px 8px 20px 8px;
                    text-align: center;
                    transition: @transition;
                    text-transform: none;
                    color: fade(@color-black, 40%);
                    background-color: @color-white;
                    width: 11%;
                    font-size: 12pt;
                    line-height: 100%;
                    vertical-align: middle;
                    border: 3px solid @color-white;
                    &:hover{
                        background-color: @color-white;
                        border-color: @color-blue;
                        transition: @transition;
                        color: @color-black;
                    }
                    &.active{
                        border-color: @color-blue;
                        color: @color-black;
                    }
                    &:nth-child(1){
                        font-family: @source-font;
                        font-weight: 700;
                    }
                    &:nth-child(2){
                        font-family: @cursive-font;
                    }
                    &:nth-child(3){
                        font-family: @raleway-font;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
                li.adjustment{
                    width: 200px;
                    text-align: center;
                    display: inline-block;
                    padding: 20px 0;
                    vertical-align: top;
                    &:hover{
                        cursor: default;
                    }
                    input{
                        display: block;
                    }
                    label{
                        display: block;
                        color: fade(@color-white, 50%);
                        text-align: center;
                        font-size: 8pt;
                        text-transform: none;
                        letter-spacing: 0.5px;
                        font-weight: 700;
                        text-transform: uppercase;
                        u{
                            text-decoration: none;
                            border-bottom: 1px solid @color-white;
                            padding: 1px;
                            margin: 0 0 0 5px;
                            font-weight: bolder;
                            color: @color-white;
                        }
                    }
                    #line-height-range {
                        -webkit-appearance: none;
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        margin: 6px 0 20px 0;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            border: 0px solid white;
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            background: @color-white;
                            cursor: pointer;
                            margin-top: -6px;
                        }
                        &::-webkit-slider-runnable-track {
                            width: 100%;
                            height: 3px;
                            border-radius:5px;
                            background-color: @color-blue;
                            border-radius: 1.3px;
                            border: 0.2px solid #010101;
                        }
                    }
                    // Show/Hide Icons Checkbox
                    #show-icons-checkbox{
                        margin: 0 0 0 0 !important;
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                    }
                    #show-icons-checkbox-label{
                        line-height: 1.55em;
                        margin: 2px 0 0 0;
                        &:hover{
                            cursor: pointer;
                        }
                        .divider{
                            font-size: 7pt;
                            padding: 0 2px 0 2px;
                            color: fade(@color-white, 30%);
                            text-transform: uppercase;
                            font-weight: bolder;
                            position: relative;
                            top: -2px;
                        }
                        b{
                            font-size: 12pt;
                            color: fade(@color-white, 50%);
                            text-transform: uppercase;
                            padding: 0 0 10px 0;
                            margin: 0 auto;
                            display: inline-block;
                            transition: @transition;
                            &:hover{
                                color: @color-white;
                                transition: @transition;
                            }
                            &.active{
                                color: @color-white;
                                transition: @transition;
                            }
                        }
                    }
                }
            }
        }
    }
}
.settings-scrolled{
    top:49px;
    position: fixed;
    left: 0;
    width: 100%;
}
#toolbar-spacer{
    width: 100%;
    height: 75px;
}

.modal-lightbox{
    width: 100%;
    height:100%;
    background-color: fade(@color-blue-black, 20%);
    position: fixed;
    top:0;
    left: 0;
    z-index: 10000;
}
.text-edit-modal{
    border-radius: 3px;
    width: 400px;
    box-sizing: border-box;
    padding: 14px 25px 19px 25px;
    background-color: @color-white;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    z-index: 11000;
    font-family: @sans-font;
    h6{
        margin: 0;
        padding: 0;
        font-size: 10pt;
        text-transform: uppercase;
        color: @color-black;
        margin-bottom: 25px;
        text-align: center;
    }
    i{
        float: right;
        margin: -42px 0 5px 0;
        position: relative;
        left: 10px;
        color: fade(@color-black, 30%);
        transition: @transition;
        &:hover{
            cursor: pointer;
            color: fade(@color-black, 80%);
            transition: @transition;
        }
    }
    input{
        background-color: @color-lightgrey;
        width: 100%;
    }
    .modal-save{
        background-color: @color-blue;
        border: none;
        color: fade(@color-white, 85%);
        width: 40%;
        text-transform: uppercase;
        font-family: @sans-font;
        margin: 30px 0 0 30%;
        font-size: 8pt;
        box-sizing: border-box;
        padding: 12px 0;
        transition: @transition;
        &:hover{
            cursor: pointer;
            color: fade(@color-white, 100%);
            transition: @transition;
        }
    }
}

.editable-header{
    transition: @transition;
    background-color: fade(@color-blue, 40%);
    box-sizing: border-box;
    padding: 0 15px;
    &:hover{
        cursor: pointer;
        transition: @transition;
        background-color: fade(@color-blue, 50%);
    }
}
