// variables.less for holding global styles

// Miscelleaneous
@transition: 0.12s;

// Font Families
@sans-font: 'Montserrat', sans-serif;
@lato-font: 'Lato', sans-serif;

// Font Colors
@light-text: #FFFFFF;
@dark-text: #3A3F52;

// Other Colors
@color-blue: #4887F4;
@color-blue-black: #0e1c34;
@color-green: #65C375;
@color-red: #ED6F78;
@color-black: #3A3F52;
@color-white: #FFFFFF;
@color-lightgrey: #F2F2F2;
