@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,300,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import "https://fonts.googleapis.com/css?family=Raleway:400,900,200,700";
#print-page.theme-raleway {
  font-family: 'Raleway', sans-serif;
}
#print-page.theme-raleway hr {
  display: none;
}
#print-page.theme-raleway .pdf-section-header {
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  margin: 10px 0 10px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  display: table;
}
#print-page.theme-raleway .pdf-section-header span {
  width: 1px;
  white-space: nowrap;
  display: table-cell;
  box-sizing: border-box;
  padding: 0 15px 0 19px;
  font-style: normal;
  text-align: center;
}
#print-page.theme-raleway .pdf-section-header:before {
  content: "\00a0";
  border-top: 2px solid #313544;
  position: relative;
  top: 11px;
  display: table-cell;
}
#print-page.theme-raleway .pdf-section-header:after {
  content: "\00a0";
  height: 0;
  border-top: 2px solid #313544;
  position: relative;
  top: 11px;
  display: table-cell;
}
#print-page.theme-raleway .section-body {
  transition: 0.12s;
}
#print-page.theme-raleway .adjust-lineheight {
  line-height: 1.2em;
}
#print-page.theme-raleway #name {
  font-weight: 800;
  font-size: 30pt;
  padding: 0px 0 0px 14px;
  margin: 0 0 24px 0;
  line-height: 0.85em;
  display: block;
  transition: 0.12s;
  text-transform: uppercase;
  letter-spacing: 14px;
  text-align: center;
  word-spacing: 7.23in;
}
#print-page.theme-raleway #personalHeaderBottom {
  display: none;
}
#print-page.theme-raleway #contact-info-bottom {
  display: none;
}
#print-page.theme-raleway #contact-info-top {
  transition: 0.12s;
  margin: 10px 0 3px 0;
}
#print-page.theme-raleway #contact-info-top span {
  display: inline-block;
  font-weight: lighter;
  box-sizing: border-box;
  padding: 2px 8px;
  font-weight: 800;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#print-page.theme-raleway #contact-info-top span:nth-child(2) {
  position: relative;
  top: -2px;
}
#print-page.theme-raleway #contact-info-top span:nth-child(2) i {
  position: relative;
  top: 3px;
}
#print-page.theme-raleway #contact-info-top span i {
  margin: 0 2px 0 0;
  font-size: 13pt;
  position: relative;
  top: 1px;
}
#print-page.theme-raleway #social-links-bottom {
  display: none;
}
#print-page.theme-raleway #social-links-top {
  transition: 0.12s;
  margin: 0 0 15px 0;
}
#print-page.theme-raleway #social-links-top span {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 1px 0px 1px 0px;
  font-size: 8pt;
  font-weight: 600;
  text-transform: uppercase;
}
#print-page.theme-raleway #social-links-top span:nth-child(even) {
  text-align: left;
  padding: 1px 0 1px 12px;
}
#print-page.theme-raleway #social-links-top span:nth-child(odd) {
  padding: 1px 12px 1px 0;
  text-align: right;
  position: relative;
}
#print-page.theme-raleway #social-links-top span i {
  margin: 0 3px 0 0;
  position: relative;
  top: 1px;
  font-size: 11pt;
}
#print-page.theme-raleway .summary {
  text-align: left;
  font-size: 9pt;
  position: relative;
  text-align: justify;
  white-space: pre-line;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  transition: 0.12s;
}
#print-page.theme-raleway .job {
  text-align: left;
  padding: 5px 0;
  line-height: 0.95em;
}
#print-page.theme-raleway .job:nth-child(1) {
  margin: 0px 0 0 0;
}
#print-page.theme-raleway .job span {
  font-size: 9pt;
  font-weight: 600;
  line-height: 0.5em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#print-page.theme-raleway .job span:nth-child(1) {
  display: block;
  font-size: 11pt;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 2px 0;
}
#print-page.theme-raleway .job span:nth-child(3),
#print-page.theme-raleway .job span:nth-child(4),
#print-page.theme-raleway .job span:nth-child(6) {
  display: none;
}
#print-page.theme-raleway .job span:nth-child(2):after,
#print-page.theme-raleway .job span:nth-child(5):after {
  content: '\00a0 /';
  font-weight: 900;
}
#print-page.theme-raleway .job p {
  text-align: left;
  font-size: 9pt;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}
#print-page.theme-raleway .project {
  text-align: left;
  padding: 3px 0;
}
#print-page.theme-raleway .project span {
  display: block;
  font-size: 11pt;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 2px 0;
}
#print-page.theme-raleway .project p {
  text-align: left;
  font-size: 9pt;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}
#print-page.theme-raleway .qualification {
  text-align: center;
  padding: 5px 0;
}
#print-page.theme-raleway .qualification span {
  font-size: 10pt;
  font-weight: 600;
  font-size: 9pt;
  letter-spacing: 1.5px;
  line-height: 0.8em;
  text-transform: uppercase;
}
#print-page.theme-raleway .qualification span:nth-child(1) {
  display: block;
  font-size: 11pt;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 0px 0;
}
#print-page.theme-raleway .qualification span:nth-child(3),
#print-page.theme-raleway .qualification span:nth-child(4),
#print-page.theme-raleway .qualification span:nth-child(6) {
  display: none;
}
#print-page.theme-raleway .qualification span:nth-child(2):after,
#print-page.theme-raleway .qualification span:nth-child(5):after {
  content: '\00a0 /';
  font-weight: 900;
}
#print-page.theme-raleway .skills {
  text-align: left;
}
#print-page.theme-raleway .skills .skill {
  text-align: left;
  display: inline-block;
}
#print-page.theme-raleway .skills .skill .dot-divider {
  display: none;
}
#print-page.theme-raleway .skills .skill span {
  font-size: 10pt;
  font-weight: 600;
  font-size: 9pt;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#print-page.theme-raleway .skills .skill:nth-child(even) span {
  font-weight: 500;
}
#print-page.theme-raleway .skills .skill:after {
  content: '\00a0 / \00a0';
  font-weight: 900;
  font-size: 10pt;
}
#print-page.theme-raleway .skills .skill:last-child:after {
  display: none;
}
