@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,300,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import "https://fonts.googleapis.com/css?family=Raleway:400,900,200,700";
#print-page {
  padding: 15px 15px 25px 15px;
}
#print-page .section-spacer {
  width: 100%;
  height: 25px;
  display: block;
}
#print-page.theme-pacifico {
  color: #313544;
}
#print-page.theme-pacifico hr {
  display: none;
}
#print-page.theme-pacifico .pdf-section-header {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  width: 180px;
  font-size: 9pt;
  text-transform: uppercase;
  padding: 0;
  text-align: right;
  font-weight: 700;
}
#print-page.theme-pacifico .section-body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  padding-left: 210px;
  margin-top: -25px;
  transition: 0.12s;
}
#print-page.theme-pacifico .adjust-lineheight {
  line-height: 1.5em;
}
#print-page.theme-pacifico #name {
  font-family: 'Pacifico', sans-serif;
  font-weight: 200;
  font-size: 26pt;
  text-transform: capitalize;
  padding: 0px 0 2px 0;
  margin: 0 0 15px 0;
  display: block;
  text-align: left;
  transition: 0.12s;
}
#print-page.theme-pacifico #basicHeaderTop {
  display: none;
}
#print-page.theme-pacifico #basicHeaderBottom {
  margin: 5px 0 0 0;
}
#print-page.theme-pacifico #contact-info-top {
  display: none;
}
#print-page.theme-pacifico #contact-info-bottom {
  display: block;
  line-height: 1em;
  margin: -17px 0 0 0;
}
#print-page.theme-pacifico #contact-info-bottom span {
  display: block;
  box-sizing: border-box;
  padding: 1px 0px;
  font-size: 9pt;
  font-weight: 700;
  text-align: left;
}
#print-page.theme-pacifico #contact-info-bottom span i {
  margin: 0 2px 0 0;
  font-size: 11pt;
  position: relative;
  top: 2px;
  display: inline-block;
  width: 15px;
  text-align: center;
}
#print-page.theme-pacifico .summary {
  text-align: left;
  font-size: 9pt;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: pre-line;
  margin: 9px 0 10px 0;
  font-weight: 300;
  transition: 0.12s;
}
#print-page.theme-pacifico .job {
  text-align: left;
  padding: 18px 0 6px 0;
}
#print-page.theme-pacifico .job:nth-child(1) {
  padding: 22px 0 6px 0;
}
#print-page.theme-pacifico .job:last-child {
  padding: 18px 0 10px 0;
}
#print-page.theme-pacifico .job span {
  font-size: 9pt;
  font-weight: 400;
  line-height: 1.4em;
  font-style: italic;
}
#print-page.theme-pacifico .job span:nth-child(1) {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: -16px 0 0px 0;
  display: block;
  position: relative;
  top: 4px;
}
#print-page.theme-pacifico .job span:nth-child(3),
#print-page.theme-pacifico .job span:nth-child(4),
#print-page.theme-pacifico .job span:nth-child(6) {
  display: none;
}
#print-page.theme-pacifico .job span:nth-child(2):after,
#print-page.theme-pacifico .job span:nth-child(5):after {
  content: ',';
}
#print-page.theme-pacifico .job p {
  text-align: left;
  font-size: 9pt;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}
#print-page.theme-pacifico .project {
  text-align: left;
  padding: 6px 0 0 0;
}
#print-page.theme-pacifico .project:last-child {
  padding: 6px 0 10px 0;
}
#print-page.theme-pacifico .project span {
  font-size: 9pt;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
}
#print-page.theme-pacifico .project p {
  text-align: left;
  font-size: 9pt;
  text-align: justify;
  font-weight: 300;
  margin: 0;
}
#print-page.theme-pacifico .qualification {
  text-align: left;
  padding: 5px 0;
}
#print-page.theme-pacifico .qualification:first-child {
  margin-top: 2px;
  padding: 10px 0 5px 0;
}
#print-page.theme-pacifico .qualification:last-child {
  padding: 5px 0 10px 0;
}
#print-page.theme-pacifico .qualification span {
  font-size: 10pt;
  font-weight: 400;
  font-style: italic;
  line-height: 1.0em;
  font-size: 9pt;
}
#print-page.theme-pacifico .qualification span:nth-child(1) {
  display: block;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9pt;
}
#print-page.theme-pacifico .qualification span:nth-child(3),
#print-page.theme-pacifico .qualification span:nth-child(4),
#print-page.theme-pacifico .qualification span:nth-child(6),
#print-page.theme-pacifico .qualification span:nth-child(7),
#print-page.theme-pacifico .qualification span:nth-child(9) {
  display: none;
}
#print-page.theme-pacifico .qualification span:nth-child(2):after,
#print-page.theme-pacifico .qualification span:nth-child(5):after {
  content: ',';
}
#print-page.theme-pacifico .qualification span:nth-child(10):before {
  content: ', ';
}
#print-page.theme-pacifico .skills {
  margin: -13px 0 0 -8px;
  text-align: left;
}
#print-page.theme-pacifico .skills .skill {
  text-align: left;
  display: inline-block;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 8px;
}
#print-page.theme-pacifico .skills .skill .dot-divider {
  display: none;
}
#print-page.theme-pacifico .skills .skill span {
  font-size: 9pt;
  text-transform: uppercase;
  line-height: 1.0em;
  display: block;
  padding: 0 0 5px 0;
  display: table;
}
#print-page.theme-pacifico .skills .skill span:before {
  content: "";
}
#print-page.theme-pacifico .skills .skill:nth-child(even) {
  font-weight: 400;
}
