// theme-source.less - for source/standard resume theme

@import "../variables.less";

#print-page{
    &.theme-source{
        font-family: @source-font;
        //
        // UNIVERSAL ELEMENT STYLES
        //
        .pdf-header{
            display: block;
            font-size: 13pt;
            letter-spacing: 0.75px;
            font-weight: 300;
            margin: 0 0 4px 0;
            &:after{
                content: ' click to edit';
                text-transform: uppercase;
                font-size: 8pt;
                color: fade(@color-black, 40%);
                position: absolute;
                margin-top: 6px;
                margin-left: 10px;
            }
        }
        p{
            white-space: pre-line;
            padding: 0;
            margin: 0 auto;
            font-size: 9pt;
            text-align: justify;
            line-height: 1.5em;
        }
        hr{
            height: 0;
            border-top: 1px solid fade(@color-black, 10%);
            border-bottom: 0px;
            padding: 0px 0;
            margin: 10px auto;
        }
        //
        // COVER LETTER
        //
        #cover-letter{
            .date{
                display: block;
                text-align: left;
                font-size: 10pt;
                font-weight: 700;
                box-sizing: border-box;
                padding: 15px 0 15px 0;
                border-top: 1px solid fade(@color-black, 10%);
                margin: 15px 0 0 0;
            }
            p{
                font-size: 10pt;
            }
        }
        //
        // NAME
        //
        .name{
            font-size: 28pt;
            font-weight: 300;
            letter-spacing: 4px;
            padding: 0 0 3px 0;
        }
        //
        // CONTACT
        //
        .contact{
            &.two{
                display: none !important;
            }
            .pdf-header{
                display: none;
            }
            hr{
                display: none;
            }
            .block{
                display: block;
                span{
                    font-size: 9pt;
                    font-weight: 400;
                    padding: 2px 5px 8px 5px;
                }
            }
            span{
                font-weight: 500;
                font-size: 10pt;
                letter-spacing: 0.5px;
                i{
                    position: relative;
                    top: 1px;
                    margin: 0 3px 0 0;
                }
            }
        }
        .experience{
            .item{
                text-align: left;
                line-height: 1em;
                padding: 5px 0;
                &:first-child{
                    padding-top:0;
                }
                &:last-child{
                    padding-bottom: 0;
                }
                span{
                    &:nth-child(1){
                        font-size: 11pt;
                        font-weight: 600;
                        text-align: left;
                        display: block;
                        padding: 0;
                        margin: 0 auto;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        font-size: 9pt;
                        font-weight: 400;
                        text-align: left;
                        position: relative;
                    }
                    &:nth-child(3):before,
                    &:nth-child(4):before{
                        content: ',';
                        position: relative;
                        left: -3px;
                        box-sizing: border-box;
                        padding: 0 3px 0 0;
                    }
                    p{
                        display: block;
                    }
                }
            }
        }
        .projects{
            .item{
                text-align: left;
                line-height: 1em;
                padding: 5px 0;
                &:first-child{
                    padding-top:0;
                }
                &:last-child{
                    padding-bottom: 0;
                }
                span{
                    font-size: 11pt;
                    font-weight: 600;
                    text-align: left;
                    display: block;
                    padding: 0;
                    margin: 0 auto;
                }
                p{
                    display: block;
                }
            }
        }
        .qualifications{
            .item{
                text-align: center;
                line-height: 1em;
                padding: 5px 0;
                &:first-child{
                    padding-top:0;
                }
                &:last-child{
                    padding-bottom: 0;
                }
                span{
                    &:nth-child(1){
                        font-size: 11pt;
                        font-weight: 600;
                        display: block;
                        padding: 0;
                        margin: 0 auto;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5){
                        display: inline-block;
                        font-size: 9pt;
                        font-weight: 400;
                    }
                    &:nth-child(3):before,
                    &:nth-child(4):before,
                    &:nth-child(5):before{
                        content: '\2022';
                        display: inline-block;
                        padding: 0 5px 0 3px;
                    }
                }
            }
        }
        .skills{
            .item{
                text-align: center;
                display: inline-block;
                &:nth-child(odd){
                    font-weight: 700;
                }
                &:last-child{
                    span{
                        &:after{
                            content: '';
                        }
                    }
                }
                span{
                    font-size: 9pt;
                    &:after{
                        content: '\2022';
                        display: inline-block;
                        padding: 0 5px 0 5px;
                    }
                }
            }
        }
    }
}
