<form ng-submit="saveBasic(); saveBasicAlert()" class="input-form" ng-init="initBasic()">
    <span class="form-group">
        <label><b>full name</b></label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="nameInput" placeholder="Mitch Samuels" />
    </span><!--
    --><span class="form-group">
        <label><b>email address</b></label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="emailInput" placeholder="mitch@mitchs.co" />
    </span><!--
    --><span class="form-group">
        <label><b>phone number<b/></label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="phoneInput" placeholder="7605764824" />
    </span><!--
    --><span class="form-group">
        <label><b>LinkedIn</b> url</label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="linkedinInput" placeholder="linkedin.com/in/mitchas" />
    </span><!--
    --><span class="form-group">
        <label><b>Twitter</b> handle</label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="twitterInput" placeholder="@sleumasm" />
    </span><!--
    --><span class="form-group">
        <label><b>Skype</b> username</label>
        <input ng-blur="saveBasic()" ng-focus="makingChanges()" type="text" ng-model="skypeInput" placeholder="mitch-samuels" />
    </span><!--
    --><span class="form-group">
        <label><b>Personal Website</b> or other relevant link.</label>
        <input ng-blur="saveBasic()" ng-focus="checkIfSaved()" type="text" ng-model="linkInput" placeholder="mitchs.co" />
    </span><!--
    --><span class="form-group">
        <button type="submit" class="save-btn" id="save-basic"><i class="ion-checkmark-round"></i> Save Basic Info</button>
    </span>
</form>
