<form class="input-form" ng-submit="saveJob()">
    <span class="sidebar">
        <span class="inner">
            <h6>Your Experiences</h6>
            <h5 ng-hide="jobs[0]">Add your first experience</h5>
            <div class="item" ng-repeat="item in jobs">
                <b>{{item.jobTitle}}</b>
                <b>{{item.jobEmployer}}</b>
                <em ng-click="editJob($index)">Edit<i class="ion-edit"></i></em>
                <em ng-click="deleteJob($index)">Delete<i class="ion-close-round"></i></em>
            </div>
        </span>
    </span><!--
    --><span class="body-sidebar">
        <span class="form-group full-width">
            <label>For which <b>company</b> did you work?</label>
            <input class="required" type="text" ng-model="jobEmployerInput" placeholder="Stratton Oakmont." />
        </span><!--
        --><span class="form-group full-width">
            <label><b>Where</b> was <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span> located?</label>
            <input type="text" ng-model="jobLocationInput" placeholder="New York, NY" />
        </span><!--
        --><span class="form-group full-width">
            <label><b>How long</b> were you with <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>?</label>
            <input type="text" ng-model="jobTimeInput" placeholder="January 1985 - February 1989" />
        </span><!--
        --><span class="form-group full-width">
            <label>What was your <b>role</b> at <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>?</label>
            <input class="required" type="text" ng-model="jobTitleInput" placeholder="Fraud Prevention Expert" />
        </span><!--
        --><span class="form-group full-width">
            <label>Describe <b>what you did</b> while you were at <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>.</label>
            <textarea ng-model="jobDescriptionInput" placeholder="I was the manager of investing and a master of fraud detection and prevention. It was my responsibility to make sure no shady deals were being made within the company."></textarea>
        </span><!--
        --><span class="form-group full-width">
            <button type="submit" class="save-btn" id="save-job"><i class="ion-checkmark-round"></i> Save to experiences list</button>
        </span>
    </span>
</form>


<div class="advertisement">
    <h1>Advertisement:</h1>
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4815459630320404"
         data-ad-slot="7076793927"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <a href="http://undg.co/ineedaresume" target="_blank"><img src="../assets/underdog.png"></a>
</div>
