<h1 class="section-title">Your Resume</h1>

<button ng-click="setThemeBasic()">Theme Basic</button>
<button ng-click="setThemeCursive()">Theme Cursive</button>


<div id="print-page" ng-class="themeClass">

    <span class="pdf-advice" ng-hide="personalInfo.length > 0 || theSummary.length > 0 || jobs.length > 0 || projects.length > 0 || qualifications.length > 0 || skills.length > 0">
        You must fill in at least one section!
        <small>Your resume will appear here once you have.</small>
    </span>


    <div ng-repeat="item in personalInfo">
        <span id="name" ng-show="item.userName">{{item.userName}}</span>

        <div id="contact-info">
            <span ng-show="item.userEmail"><i class="ion-ios-email-outline"></i> {{item.userEmail}}</span>
            <span ng-show="item.userPhone"><i class="ion-ios-telephone-outline"></i> {{item.userPhone}}</span>
            <span ng-show="item.userLocation"><i class="ion-ios-location-outline"></i> {{item.userLocation}}</span>
        </div>

        <span id="link" ng-show="item.userLink">{{item.userLink}}</span>
    </div> <!-- End Personal info -->

    <hr ng-show="personalInfo.length > 0">

    <span class="pdf-section-header editable-header" ng-click="editSummaryTitle()" ng-show="theSummary.length > 0">{{summaryTitle}}</span>
    <div class="section-body" ng-repeat="item in theSummary">
        <pre class="summary">
            {{item.summaryBody}}
        </pre>
    </div>


    <hr ng-show="theSummary.length > 0">

    <span class="pdf-section-header editable-header" ng-click="editJobsHeader()" ng-show="jobs.length > 0">{{jobsHeader}}</span>
    <div class="section-body" ui-sortable ng-model="jobs">
        <div class="job sortable" ng-repeat="item in jobs">
            <span>{{item.jobEmployer}}</span>
            <span ng-show="jobs[$index].jobEmployer && jobs[$index].jobLocation">&nbsp;&middot;&nbsp;</span>
            <span ng-show="jobs[$index].jobEmployer && jobs[$index].jobTime && !jobs[$index].jobLocation">&nbsp;&middot;&nbsp;</span>
            <span>{{item.jobLocation}}</span>
            <span ng-show="jobs[$index].jobLocation && jobs[$index].jobTime">&nbsp;&middot;&nbsp;</span>
            <span>{{item.jobTime}}</span>
            <span>{{item.jobTitle}}</span>
            <p ng-show="item.jobDescription">
                {{item.jobDescription}}
            </p>
        </div>
    </div>


    <hr ng-show="jobs.length > 0">
    <span class="pdf-section-header editable-header" ng-click="editProjectsHeader()" ng-show="projects.length > 0">{{projectsHeader}}</span>
    <div class="section-body" ui-sortable ng-model="projects">
        <div class="project sortable" ng-repeat="item in projects">
            <span>{{item.projectTitle}}</span>
            <p>
                {{item.projectDescription}}
            </p>
        </div>
    </div>


    <hr ng-show="projects.length > 0">

    <span class="pdf-section-header editable-header" ng-click="editQualificationsHeader()" ng-show="qualifications.length > 0">{{qualificationsHeader}}</span>
    <div class="section-body" ui-sortable ng-model="qualifications">
        <div class="qualification sortable" ng-repeat="item in qualifications">
            <span>{{item.qualificationTitle}}</span>
            <span>{{item.qualificationInstitution}}</span>
            <span ng-show="qualifications[$index].qualificationInstitution && qualifications[$index].qualificationLocation">&nbsp;&middot;&nbsp;</span>
            <span ng-show="qualifications[$index].qualificationInstitution && qualifications[$index].qualificationCompletion && !qualifications[$index].qualificationLocation">&nbsp;&middot;&nbsp;</span>
            <span>{{item.qualificationLocation}}</span>
            <span ng-show="qualifications[$index].qualificationLocation && qualifications[$index].qualificationCompletion">&nbsp;&middot;&nbsp;</span>
            <span>{{item.qualificationCompletion}}</span>
        </div>
    </div>


    <hr ng-show="qualifications.length > 0">


    <span class="pdf-section-header editable-header" ng-click="editSkillsHeader()" ng-show="skills.length > 0">{{skillsHeader}}</span>
    <br/>
    <div class="section-body skills" ui-sortable ng-model="skills">
        <div class="skill sortable" ng-repeat="item in skills">
          <span>{{item.skill}}</span>
          <span class="dot-divider"><i class="ion-record"></i></span>
        </div>
    </div>


</div>

<div class="modal-lightbox fade" ng-show="lightbox"></div>

<div class="text-edit-modal fade" ng-show="modal">
    <h6>Edit Header</h6>
    <i class="ion-close-round" ng-click="closeModal()"></i>
    <form ng-submit="closeModal()">
        <input type="text" ng-model="summaryTitle" ng-show="editingSummaryHeader" />
        <input type="text" ng-model="jobsHeader" ng-show="editingJobsHeader" />
        <input type="text" ng-model="qualificationsHeader" ng-show="editingQualificationsHeader" />
        <input type="text" ng-model="projectsHeader" ng-show="editingProjectsHeader" />
        <input type="text" ng-model="skillsHeader" ng-show="editingSkillsHeader" />
        <button type="submit" class="modal-save">Save / Close</button>
    </form>
</div>
