<div class="settings">
    <ul>
        <li>
            Theme <i class="ion-chevron-down"></i>
            <ol>
                <li class="theme" ng-click="setThemeSource(); activeTheme($event)">Source</li>
                <li class="theme active" ng-click="setThemePacifico(); activeTheme($event)">Pacifico</li>
                <li class="theme" ng-click="setThemeRaleway(); activeTheme($event)">Raleway</li>
            </ol>
        </li>
        <li>
            Adjustments <i class="ion-chevron-down"></i>
            <ol>
                <li class="adjustment">
                      <input id="line-height-range" type="range" ng-model="lineHeight" value="15" ng-change="adjustLineHeight()" min="1" max="2.5" step="0.05" />
                      <label>Line height <u>{{lineHeight}} em</u></label>
                </li>
                <li class="adjustment">
                    <input id="show-icons-checkbox" type="checkbox" ng-model="showIcons" ng-change="showHideIcons()" />
                    <label for="show-icons-checkbox" id="show-icons-checkbox-label">
                        <b ng-class="{ 'active': showIcons }">Yes</b>
                        <span class="divider">or</span>
                        <b ng-class="{ 'active': !showIcons }">No</b>
                        <br/>
                        Show icons&nbsp;
                    </label>
                </li>
                <li class="adjustment">
                      <input id="font-size-range" type="range" ng-model="fontSize" value="9" ng-change="adjustFontSize()" min="6" max="14" step="0.5" />
                      <label>Font Size <u>{{fontSize}} pt</u></label>
                </li>
            </ol>
        </li>
        <li ng-click="showInstructions()">Download PDF</li>
    </ul>
</div>
<div id="toolbar-spacer"></div>


<span class="hint">
    Click on a section header highlighed in blue to change it.
</span>
<span class="hint">
    You can rearrange items within a section by clicking and dragging.
</span>

<div id="print-page" ng-class="themeClass">

    <span class="pdf-advice" ng-hide="basics.name || basics.email || basics.phone || basics.linkedin || basics.twitter || basics.skype || basics.link || summary.body || jobs.length > 0 || projects.length > 0 || qualifications.length > 0 || skills.length > 0">
        How can we make you a resume<br/>if you haven't filled anyhting in?
    </span>


    <div>
        <span id="name" ng-show="basics.name">{{basics.name}}</span>

        <span class="pdf-section-header editable-header" id="basicHeaderTop" ng-click="editBasicHeader()" ng-show="basics.name || basics.email || basics.phone || basics.linkedin || basics.twitter || basics.skype || basics.link"><span>{{basicHeader}}</span></span>

        <div id="contact-info-top" ng-show="basics.email || basics.phone || basics.linkedin || basics.twitter || basics.skype || basics.link">
            <span ng-show="basics.email"><i class="ion-android-mail" ng-show="showIcons"></i> {{basics.email}}</span>
            <span ng-show="basics.phone"><i class="ion-iphone" ng-show="showIcons"></i> {{basics.phone}}</span>
            <br/>
            <span class="social" ng-show="basics.linkedin"><i class="ion-social-linkedin" ng-show="showIcons"></i> {{basics.linkedin}}</span>
            <span class="social" ng-show="basics.twitter"><i class="ion-social-twitter" ng-show="showIcons"></i> {{basics.twitter}}</span>
            <span class="social" ng-show="basics.skype"><i class="ion-social-skype" ng-show="showIcons"></i> {{basics.skype}}</span>
            <span class="social" ng-show="basics.link"><i class="ion-android-cloud" ng-show="showIcons"></i> {{basics.link}}</span>
        </div>

    </div> <!-- End Basic info -->



    <hr ng-show="summary.body">


    <span class="pdf-section-header editable-header" ng-click="editSummaryTitle()" ng-hide="!summary.body"><span>{{summaryTitle}}</span></span>
    <div class="section-body" ng-hide="!summary.body">
        <p class="summary adjust-lineheight" ng-bind-html="summary.body | unsafe" >
            <!-- summaryFormatted if rich text -->
        </p>
    </div><!-- End Summary -->


    <hr ng-show="jobs.length > 0">

    <span class="pdf-section-header editable-header" ng-click="editJobsHeader()" ng-show="jobs.length > 0"><span>{{jobsHeader}}</span></span>
    <div class="section-body" ui-sortable ng-model="jobs">
        <div class="job sortable" ng-repeat="item in jobs">
            <span>{{item.jobTitle}}</span>
            <span>{{item.jobEmployer}}</span>
            <span ng-show="jobs[$index].jobEmployer && jobs[$index].jobLocation">&nbsp;&middot;&nbsp;</span>
            <span ng-show="jobs[$index].jobEmployer && jobs[$index].jobTime && !jobs[$index].jobLocation">&nbsp;&middot;&nbsp;</span>
            <span>{{item.jobLocation}}</span>
            <span ng-show="jobs[$index].jobLocation && jobs[$index].jobTime">&nbsp;&middot;&nbsp;</span>
            <span>{{item.jobTime}}</span>
            <p class="adjust-lineheight" ng-bind-html="item.jobDescription | unsafe" >
                <!-- {{item.jobDescription}} -->
                <!-- {{addBullets(item.jobDescription)}} -->
            </p>
        </div>
    </div><!-- End Jobs -->


    <hr ng-show="projects.length > 0">

    <div class="section-spacer" ng-hide="projects.length > 0 && jobs.length > 0 && qualifications.length > 0"></div>


    <span class="pdf-section-header editable-header" ng-click="editProjectsHeader()" ng-show="projects.length > 0"><span>{{projectsHeader}}</span></span>
    <div class="section-body" ui-sortable ng-model="projects">
        <div class="project sortable" ng-repeat="item in projects">
            <span>{{item.projectTitle}}</span>
            <p class="adjust-lineheight" ng-bind-html="item.projectDescription | unsafe" >
                <!-- {{item.projectDescription}} -->
            </p>
        </div>
    </div><!-- End Projects -->


    <hr ng-show="qualifications.length > 0">

    <span class="pdf-section-header editable-header" ng-click="editQualificationsHeader()" ng-show="qualifications.length > 0"><span>{{qualificationsHeader}}</span></span>
    <div class="section-body" ui-sortable ng-model="qualifications">
        <div class="qualification sortable" ng-repeat="item in qualifications">
            <span>{{item.qualificationTitle}}</span>
            <span>{{item.qualificationInstitution}}</span>
            <span ng-show="qualifications[$index].qualificationInstitution && qualifications[$index].qualificationLocation">&nbsp;&middot;&nbsp;</span>
            <span ng-show="qualifications[$index].qualificationInstitution && qualifications[$index].qualificationCompletion && !qualifications[$index].qualificationLocation">&nbsp;&middot;&nbsp;</span>
            <span>{{item.qualificationLocation}}</span>
            <span ng-show="qualifications[$index].qualificationLocation && qualifications[$index].qualificationCompletion">&nbsp;&middot;&nbsp;</span>
            <span ng-show="qualifications[$index].qualificationLocation && qualifications[$index].qualificationGpa && !qualification[$index].qualificationLocation">&nbsp;&middot;&nbsp;</span>
            <span>{{item.qualificationCompletion}}</span>
            <span ng-show="qualifications[$index].qualificationLocation && qualifications[$index].qualificationCompletion">&nbsp;&middot;&nbsp;</span>
            <span ng-show="qualifications[$index].qualificationGpa">{{item.qualificationGpa}} GPA</span>
        </div>
    </div><!-- End Qualifications -->


    <hr ng-show="skills.length > 0">


    <span class="pdf-section-header editable-header" ng-click="editSkillsHeader()" ng-show="skills.length > 0"><span>{{skillsHeader}}</span></span>
    <div class="section-body skills" ui-sortable ng-model="skills">
        <div class="skill sortable" ng-repeat="item in skills">
          <span>{{item.skill}}</span>
          <span class="dot-divider"><i class="ion-record"></i></span>
        </div>
    </div><!-- End Skills -->



    <span class="pdf-section-header editable-header" id="basicHeaderBottom" ng-click="editBasicHeader()" ng-show="basics.email || basics.phone || basics.linkedin || basics.twitter || basics.skype || basics.link">{{basicHeader}}</span>
    <div>
        <div class="section-body" id="contact-info-bottom">
            <span ng-show="basics.email"><i class="ion-android-mail" ng-show="showIcons"></i> {{basics.email}}</span>
            <span ng-show="basics.phone"><i class="ion-iphone" ng-show="showIcons"></i> {{basics.phone}}</span>
            <span ng-show="basics.linkedin"><i class="ion-social-linkedin" ng-show="showIcons"></i> {{basics.linkedin}}</span>
            <span ng-show="basics.twitter"><i class="ion-social-twitter" ng-show="showIcons"></i> {{basics.twitter}}</span>
            <span ng-show="basics.skype"><i class="ion-social-skype" ng-show="showIcons"></i> {{basics.skype}}</span>
            <span ng-show="basics.link"><i class="ion-android-cloud" ng-show="showIcons"></i> {{basics.link}}</span>
        </div>
    </div> <!-- End Basic info bottom -->





</div><!-- End PDF -->





<div class="modal-lightbox fade" ng-show="lightbox"></div>

<div class="text-edit-modal fade" ng-show="modal">
    <h6>{{modalHeader}}</h6>
    <i class="ion-close-round" ng-click="closeModal()"></i>
    <form ng-submit="closeModal()">
        <span class="info" ng-show="savedData">Now you can come back later and your data will still be here.<small>You must use the same computer & web browser.</small></span>
        <input type="text" ng-model="summaryTitle" ng-show="editingSummaryHeader" />
        <input type="text" ng-model="jobsHeader" ng-show="editingJobsHeader" />
        <input type="text" ng-model="qualificationsHeader" ng-show="editingQualificationsHeader" />
        <input type="text" ng-model="projectsHeader" ng-show="editingProjectsHeader" />
        <input type="text" ng-model="skillsHeader" ng-show="editingSkillsHeader" />
        <input type="text" ng-model="basicHeader" ng-show="editingBasicHeader" />
        <button type="submit" class="modal-save">{{modalButton}}</button>
    </form>
</div>

<div id="pdf-instructions" ng-show="instructions">
    <i class="ion-close-round close" ng-click="closeInstructions()"></i>
    <span class="text" ng-show="instructionsText">
        <h1>Before you download your resume...</h1>
        <p>
            A print dialog will open where you can print it or save it as a PDF. Once it does, be sure <b>background colors/images are disabled</b>, <b>margins are set to default</b>, and <b>headers/footers are disabled</b>. If you are not sure how to do that, find instructions <a ng-click="showVideos()">here</a>.
            <br/><br/>
            <em>While ineedaresume is completely free, it takes money to keep it running and updated, please consider contributing if you are able to!</em>
            <br/><br/>
            If you are unable to contribute, please consider sharing it with friends!
            <br/><br/>
            <div class="social-links">
                <h6>Share on</h6>
                <a href="http://twitter.com/intent/tweet?status=Create%20a%20beautiful%20resume%20completely%20free%20and%20super%20fast!+http://ineedaresu.me" target="_blank"><i class="ion-social-twitter"></i></a>
                <a href="http://www.facebook.com/sharer/sharer.php?u=http://ineedaresu.me" target="_blank"><i class="ion-social-facebook"></i></a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ineedaresu.me&title=Check%20out%20this%20free%20tool%20that%20creates%20a%20beautiful%20resume%20in%20seconds!" target="_blank"><i class="ion-social-linkedin"></i></a>
            </div>
        </p>
        <a class="button plo-button" href="https://plasso.co/s/0wwIPUFBug" target="_blank">Contribute</a>
        <span class="button proceed" ng-click="printResume()" onclick="ga('send', 'event', 'ButtonClick', 'Download', 'Download Resume');">Download Resume</span>
    </span>
    <span class="videos" ng-show="instructionsVideos">
        <h1>Instructions for</h1>
        <span class="browser active" id="chrome" ng-click="chromeVideo()">Chrome</span>
        <span class="browser" id="firefox" ng-click="firefoxVideo()">Firefox</span>
        <span class="browser" id="safari" ng-click="safariVideo()">Safari</span>

        <video id="helpVideo" ng-src="{{src}}" controls>
        </video>

        <span class="browser" ng-click="returnToInstructions()">Return to Download</span>
    </span>
</div>


<script type='text/javascript' src='https://plasso.co/embed/v2/embed.js'></script>
