<div id="has-local-storage">
    <h2>Hey<span ng-show="welcomeName"> <b>{{welcomeName}}</b></span>! You have data saved from last time. Would you like to load it or start fresh?</h2>
    <button class="blue" ng-click="loadLocal()">Load it, please</button>
    <button ng-click="ignoreLocal()">I'll start fresh</button>
</div>

<div id="home-page">

    <div id="home-intro">

        <span id="intro-text">
            <h1 class="home-name"><b>ineedaresume</b> 2.0</h1>
            <h1>Creating a resume shouldn't suck</h1>
            <h2>
                Simply enter your information and get a beautifully formatted resume in seconds
            </h2>
            <span><a href="#/cover">Start filling out your resume now <i class="ion-arrow-right-c"></i></a></span>
        </span>

    </div>

    <div id="media">
        <h6>You may have seen ineedaresu.me on</h6>
        <a href="https://www.producthunt.com/tech/i-need-a-resume" target="_blank"><img src="assets/media/producthunt.png"></a>
        <a href="http://lifehacker.com/this-tool-helps-make-your-resume-visually-appealing-1709672920" target="_blank"><img src="assets/media/lifehacker.png"></a>
        <a href="http://www.newsweek.com/career/free-tool-will-transform-your-ugly-duckling-resume-swan" target="_blank"><img src="assets/media/newsweek.png"></a>
        <a href="http://www.inc.com/rahul-varshneya/how-side-projects-can-be-your-path-to-entrepreneurship.html" target="_blank"><img src="assets/media/inc.png"></a>
        <a href="http://netted.net/ineedaresume/" target="_blank"><img src="assets/media/netted.png"></a>
        <span style="white-space: nowrap">
            <a href="https://www.themuse.com/advice/this-free-tool-will-transform-your-uglyduckling-resume-into-a-swan" target="_blank"><img src="assets/media/muse.png"></a>
            <a href="http://ktla.com/2015/03/17/quick-tip-fast-resume-builder/" target="_blank"><img src="assets/media/ktla.png"></a>
        </span>
    </div>

    <div id="process">
        <h1>Here's how it works</h1>
        <h2>A well-designed resume has never been so simple.</h2>
        <span>
            <img src="assets/oneline-hi.png">
            <h4>Fill out your information</h4>
            <p>Only provide what you want on your resume. Leave the rest blank. It adapts based on what you provide.</p>
        </span><!--
        --><span>
            <img src="assets/oneline-gear.png">
            <h4>Perfect your design</h4>
            <p>Change the theme, reorder items, and fine tune your resume to make sure it's ready to impress.</p>
        </span><!--
        --><span>
            <img src="assets/oneline-download.png">
            <h4>Save or print</h4>
            <p>Download your resume to your computer as a PDF document, or print it directly from your web browser.</p>
        </span>
    </div>

    <div id="whats-new">
        <span id="whats-new-image">
            <img src="assets/rebuild.png">
        </span><!--
        --><span id="whats-new-text">
            <h1>Version 2.0. Built from the ground up.</h1>
            <h2>More customization. More speed. Just as simple.</h2>
            <p>
                People loved Version 1.0, and there's even more to love in 2.0. We've rebuilt it using AngularJS which has allowed us to add more customization options such as <b>custom themes</b>, <b>drag & drop to reorder items</b>, <b>the ability to change section headers</b>, and <b>support for more devices</b>.
            </p>
        </span>
    </div>

    <div id="themes">
        <span>
            <h1>Styles for any profession.</h1>
            <p>
                Once you're done filling out your information, pick a resume and cover letter theme to match your style. We are always updating the site with new themes.
            </p>
        </span>
        <img src="assets/themes1.png"><!--
        --><img src="assets/themes2.png">
    </div>

    <div id="questions">
        <h1>Questions & Answers</h1>
        <span class="columns">
            <span>
                <h3>Can I save my information to edit later?</h3>
                <p>
                    Yes! Your data for each page is saved locally on your computer <b>automatically</b> when you click the <i>save</i> button on that page (on desktop only, no mobile support). If you want to clear your information from your computer at any time, click <a ng-click="clearLocal()"><b>here</b></a>.
                </p>
            </span><!--
            --><span>
                <h3>Do you save/sell the personal information I enter/save?</h3>
                <p>
                    No way. Nobody but you has access to the information you enter here. It is only saved on your own computer using local storage. That means if you want to come back and edit it later, you must be using the same browser and computer, and don't clear your cache or you'll lose everything.
                </p>
            </span><!--
            --><span>
                <h3>Can I download my resume as a Word document?</h3>
                <p>
                    No, not at the moment. We are currently working on figuring out a method to export the resume as a Word document, so for now, only PDF is supported. But remember, you can save your data on the site and come back later to edit it!
                </p>
            </span><!--
            --><span>
                <h3>You're missing <i>__________&nbsp; </i>, can I request a feature?</h3>
                <p>
                    Of course! We are always looking for ideas to make this site better! Please <a href="mailto:mitch@mitchs.co">contact us</a> with your suggestions or feedback! We are already working on more features, including <b>LinkedIn integration</b>, <b>more themes</b>, <b>accounts so you can edit your resume from anywhere</b>, and <b>professional resume review</b>.
                </p>
            </span>
        </span>
    </div>
    <div id="get-started">
        <h1>Start building your resume now! It's completely free.</h1>
        <a id="start-now" href="#/cover">Get Started</a>
        <h1 style="font-size: 12pt; margin-top:25px;">Once you're done, find a job at underdog.io!</h1>
        <a href="http://undg.co/ineedaresume" target="_blank" style="display: block; margin: 0 auto; width: 90%; max-width: 450px;"><img style="width: 100%; margin-top: 6px;" src="../assets/underdog.png"></a>
    </div>
    <div id="footer">
        <span id="footer-name">
            ineedaresume
        </span><!--
        --><span id="footer-about">
            <h6>About</h6>
            <p>
                ineedaresume was built by <b>Mitch Samuels</b> in Madison, WI. If you have feedback, suggestions, or find a bug, email me at <a href="mailto:mitch@mitchs.co">mitch@mitchs.co</a>. You can also follow me on <a href="http://twitter.com/sleumasm" target="_blank">Twitter</a> or <a href="http://instagram.com/mitchas" target="_blank">Instagram</a>, connect on <a href="http://linkedin.com/in/mitchas" target="_blank">LinkedIn</a>, or check out my <a href="http://github.com/mitchas" target="_blank">Github</a> or personal website, <a href="http://mitchs.co" target="_blank">mitchs.co</a>. Like the site? Need your own? Hire me!
            </p>
        </span><!--
        --><span id="footer-subscribe">
            <h6>Stay updated</h6>
            <p>Subscribe for bi-weekly curated updates about ineedaresume, career advice, resume tips, and more.</p>
            <button onclick="window.open('https://tinyletter.com/ineedaresume')">Subscribe</button>
        </span>
    </div>
</div>
