<!-- <h1 class="section-title">Jobs & Experience</h1> -->



<div class="current-items">
    <div class="item" ng-repeat="item in jobs">
        <i class="ion-edit" ng-click="editJob($index)"></i>
        <i class="ion-close-round" ng-click="deleteJob($index)"></i>
        {{item.jobTitle}} @ {{item.jobEmployer}}
  </div>
</div>



<form class="input-form" ng-submit="saveJob()">
    <label>For which <b>company</b> did you work?</label>
    <input type="text" ng-model="jobEmployerInput" placeholder="Alphabet, Inc." />
    <label><b>Where</b> was <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span> located?</label>
    <input type="text" ng-model="jobLocationInput" placeholder="Mountain View, CA" />
    <label><b>How long</b> were you with <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>?</label>
    <input type="text" ng-model="jobTimeInput" placeholder="2005-2012" />
    <label>What was your <b>role</b> at <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>?</label>
    <input type="text" ng-model="jobTitleInput" placeholder="Developer" />
    <label>Describe <b>what you did</b> while you were at <span ng-show="jobEmployerInput">{{jobEmployerInput}}</span><span ng-hide="jobEmployerInput">the company</span>.</label>
    <textarea ng-model="jobDescriptionInput" placeholder="I was the lead project developer for YouTube..."></textarea>
    <button type="submit" class="save-add-another"><i class="ion-checkmark-round"></i> Save to jobs list</button>
</form>
