<form ng-submit="savePersonal(); savePersonalAlert()" class="input-form" ng-init="fillPersonal()">
    <label>What's your <b>name</b>?</label>
    <input ng-blur="savePersonal()" type="text" ng-model="nameInput" placeholder="Mitch Samuels" />
    <label>What's your <b>email address</b>?</label>
    <input ng-blur="savePersonal()"  type="text" ng-model="emailInput" placeholder="mitch@mitchs.co" />
    <label>What's your <b>phone number<b/>?</label>
    <input ng-blur="savePersonal()"  type="text" ng-model="phoneInput" placeholder="7605764824" />
    <button type="submit" class="save-add-another"><i class="ion-checkmark-round"></i> Save Personal Info</button>
</form>
