<form class="input-form" ng-submit="saveProject()">
    <span class="sidebar">
        <span class="inner">
            <h6>Your Projects</h6>
            <h5 ng-hide="projects[0]">Add your first project</h5>
            <div class="item" ng-repeat="item in projects">
                <b>{{item.projectTitle}}</b>
                <em ng-click="editProject($index)">Edit<i class="ion-edit"></i></em>
                <em ng-click="deleteProject($index)">Delete<i class="ion-close-round"></i></em>
            </div>
        </span>
    </span><!--
    --><span class="body-sidebar">
        <span class="form-group full-width">
            <label>Give your project a <b>title</b>.</label>
            <input class="required" type="text" ng-model="projectTitleInput" placeholder="Volunteering with Habitat for Humanity" />
        </span><!--
        --><span class="form-group full-width">
            <label>Now describe what <b>you did</b>.</label>
            <textarea class="required" ng-model="projectDescriptionInput" placeholder="In the summer of 2014 I volunteered to help build a house for the needy until I got tired. Then I went home..."></textarea>
        </span><!--
        --><span class="form-group full-width">
            <button type="submit" class="save-btn" id="save-project"><i class="ion-checkmark-round"></i> Save to projects list</button>
        </span>
    </span>
</form>


<div class="advertisement">
    <h1>Advertisement:</h1>
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4815459630320404"
         data-ad-slot="7076793927"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <a href="http://undg.co/ineedaresume" target="_blank"><img src="../assets/underdog.png"></a>
</div>
