<form class="input-form" ng-submit="saveProject()">
    <span class="sidebar">
        <span class="inner">
            <h6>Your Projects</h6>
            <h5 ng-hide="projects[0]">Add your first project</h5>
            <div class="item" ng-repeat="item in projects">
                <b>{{item.projectTitle}}</b>
                <em ng-click="editProject($index)">Edit<i class="ion-edit"></i></em>
                <em ng-click="deleteProject($index)">Delete<i class="ion-close-round"></i></em>
            </div>
        </span>
    </span><!--
    --><span class="body-sidebar">
        <span class="form-group full-width">
            <label>Give your project a <b>title</b>.</label>
            <input class="required" type="text" ng-model="projectTitleInput" placeholder="Project Title" />
        </span><!--
        --><span class="form-group full-width">
            <label>Now describe what <b>you did</b>.</label>
            <textarea class="required" ng-model="projectDescriptionInput" placeholder="Project Description"></textarea>
        </span><!--
        --><span class="form-group full-width">
            <button type="submit" class="save-btn" id="save-project"><i class="ion-checkmark-round"></i> Save to projects list</button>
        </span>
    </span>
</form>
