<!-- <h1 class="section-title">Projects</h1> -->


<div class="current-items">
    <div class="item" ng-repeat="item in projects">
        <i class="ion-edit" ng-click="editProject($index)"></i>
        <i class="ion-close-round" ng-click="deleteProject($index)"></i>
        {{item.projectTitle}}
  </div>
</div>



<form class="input-form" ng-submit="saveProject()">
    <label>Give your project a <b>title</b>.</label>
    <input type="text" ng-model="projectTitleInput" placeholder="Project Title" />
    <label>Now describe what <b>you did</b>.</label>
    <textarea ng-model="projectDescriptionInput" placeholder="Project Description"></textarea>
    <button type="submit" class="save-add-another"><i class="ion-checkmark-round"></i> Save to projects list</button>
</form>
