<form class="input-form" ng-submit="saveQualification()">
    <span class="sidebar">
        <span class="inner">
            <h6>Your Qualifications</h6>
            <h5 ng-hide="qualifications[0]">Add your first qualification</h5>
            <div class="item" ng-repeat="item in qualifications">
                <b>{{item.qualificationTitle}}</b>
                <em ng-click="editQualification($index)">Edit<i class="ion-edit"></i></em>
                <em ng-click="deleteQualification($index)">Delete<i class="ion-close-round"></i></em>
            </div>
        </span>
    </span><!--
    --><span class="body-sidebar">
        <span class="form-group full-width">
            <label>What is your <b>degree</b> or other <b>qualification</b>?</label>
            <input class="required" type="text" ng-model="qualificationTitleInput" placeholder="Doctorate of Philosophy in Dance"></input>
        </span><!--
        --><span class="form-group full-width">
            <label><b>Where</b> did you earn your <span ng-show="qualificationTitleInput">{{qualificationTitleInput}}</span><span ng-hide="qualificationTitleInput">degree/qualification</span>?</label>
            <input class="required" type="text" ng-model="qualificationInstitutionInput" placeholder="University of Wisconsin, Madison"></input>
        </span><!--
        --><span class="form-group full-width">
            <label><b>Where</b> is <span ng-show="qualificationInstitutionInput">{{qualificationInstitutionInput}}</span><span ng-hide="qualificationInstitutionInput">the institution</span> located?</label>
            <input type="text" ng-model="qualificationLocationInput" placeholder="Madison, WI"></input>
        </span><!--
        --><span class="form-group full-width">
            <label><b>When</b> did you earn your <span ng-show="qualificationTitleInput">{{qualificationTitleInput}}</span><span ng-hide="qualificationTitleInput">degree/qualification</span>?</label>
            <input type="text" ng-model="qualificationCompletionInput" placeholder="2017"></input>
        </span><!--
        --><span class="form-group full-width">
            <label><b>GPA</b> (if applicable)</label>
            <input type="text" ng-model="qualificationGpaInput" placeholder="1.82"></input>
        </span><!--
        --><span class="form-group full-width">
            <button type="submit" class="save-btn" id="save-qualifications"><i class="ion-checkmark-round"></i> Save to qualifications list</button>
        </span>
    </span>
</form>


<div class="advertisement">
    <h1>Advertisement:</h1>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Resume Two Point Oh -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4815459630320404"
         data-ad-slot="7076793927"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
