<form class="input-form" ng-submit="saveSkill()">
    <span class="sidebar">
        <span class="inner">
            <h6>Your Skills</h6>
            <h5 ng-hide="skills[0]">Add your first skill</h5>
            <div style="display: block; height: 10px;"></div>
            <div class="item skill" ng-repeat="item in skills">
                <b><i class="ion-close-round" ng-click="deleteSkill($index)"></i> {{item.skill}}</b>
            </div>
        </span>
    </span><!--
    --><span class="body-sidebar">
        <span class="form-group full-width">
            <label>Enter a <b>skill</b> you possess.</label>
            <input class="required" type="text" ng-model="skillInput" placeholder="Yodeling"/>
        </span><!--
        --><span class="form-group full-width">
            <button type="submit" class="save-btn" id="save-skill"><i class="ion-checkmark-round"></i> Save to skills list</button>
        </span>
    </span>
</form>


<div class="advertisement">
    <h1>Advertisement:</h1>
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4815459630320404"
         data-ad-slot="7076793927"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <a href="http://undg.co/ineedaresume" target="_blank"><img src="../assets/underdog.png"></a>
</div>
