<!-- <h1 class="section-title">Skills</h1> -->


<div class="current-items">
    <div class="item" ng-repeat="item in skills">
      <i class="ion-close-round" ng-click="deleteSkill($index)"></i> {{item.skill}}
  </div>
</div>

<form class="input-form" ng-submit="saveSkill()">
    <label>Enter a <b>skill</b> you possess.</label>
    <input type="text" ng-model="skillInput" />
    <button type="submit" class="save-add-another"><i class="ion-checkmark-round"></i> Save to skills list</button>
</form>
